@model List<Transaction> 

@{
    // Set metadata for the view.
    ViewBag.Title = "SpendWise | Transactions";
    ViewBag.Page = "Transactions";
    Layout = "_Layout";

    DateTime thirtyDaysAgo = DateTime.Now - TimeSpan.FromDays(30);
    // Calculate total income for the last 30 days.
    int totalIncomePerMonth = Model
        .Where(transaction => transaction.CreationTime > thirtyDaysAgo && transaction.CreationTime < DateTime.Now && transaction.IsIncome)
        .Sum(transaction => (int)transaction.Amount);
    // Calculate total expense for the last 30 days.
    int totalExpensePerMonth = Model
        .Where(transaction => transaction.CreationTime > thirtyDaysAgo && transaction.CreationTime < DateTime.Now && !transaction.IsIncome)
        .Sum(transaction => (int)transaction.Amount);

    // Calculate average income and expense per day for the last 30 days.
    int averageIncomePerDay = totalIncomePerMonth / 30;
    int averageExpensePerDay = totalExpensePerMonth / 30;

    // Extract expense transactions and group them by category to calculate total amounts.
    var expenseTransactions = Model.Where(t => !t.IsIncome);
    var categoryAmounts = expenseTransactions
        .GroupBy(t => t.Category!.Name)
        .Select(group => new { Category = group.Key, TotalAmount = group.Sum(t => t.Amount) })
        .ToList();

    // Find the most and least expensive category based on total amount.
    var mostExpensiveCategory = categoryAmounts.OrderByDescending(c => c.TotalAmount).FirstOrDefault()?.Category;
    var leastExpensiveCategory = categoryAmounts.OrderBy(c => c.TotalAmount).FirstOrDefault()?.Category;
}

<!-- Page content | Statistic -->
<div class="statistic">
    <p class="income">
        <span>$ @averageIncomePerDay</span>
        average income per day
    </p>
    <p class="expense">
        <span>$ @averageExpensePerDay</span>
        average expense per day
    </p>
    <p class="most">
        <span>@mostExpensiveCategory</span>
        most expense
    </p>
    <p class="least">
        <span>@leastExpensiveCategory</span>
        least expense
    </p>
</div>

<!-- Sortbar -->
<div class="sortbar">
    <!-- Search filter -->
    <div class="search">
        <i class='bx bx-search-alt'></i>
        <input id="search" placeholder="Search..."/>
    </div>

    <!-- Type filter -->
    <select class="type">
        <option value="any" selected>Any type</option>
        <option value="income">Income</option>
        <option value="expense">Expense</option>
    </select>

    <!-- Category filter -->
    <select class="category">
        <option value="default" class="default" selected>Any category</option>
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.Name" class="@(category.IsIncome ? "income" : "expense")">
                @category.Name
            </option>
        }
    </select>
</div>

<!-- Transaction table -->
<table class="main">
    <tr>
        <td>
            <table class="head">
                <tr>
                    <th class="type">Type</th>
                    <th class="title">Title</th>
                    <th class="amount">Amount</th>
                    <th class="category">Category</th>
                    <th class="date">Date</th>
                    <th class="actions"></th>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div class="scroll-space">
                <table>
                    @foreach (var transcaction in Model)
                    {
                        <tr>
                            @{
                                string type = transcaction.IsIncome ? "Income" : "Expense";
                            }
                            <td class="@type.ToLower() type">
                                <span>@type</span>
                            </td>
                            <td class="title">@transcaction.Title</td>
                            <td class="amount">$ @transcaction.Amount</td>
                            <td class="category">@transcaction.Category?.Name</td>
                            <td class="date">@transcaction.CreationTime.ToString("dd.MM.yy")</td>
                            <td class="actions">
                                <a asp-controller="Transaction" asp-action="EditPage" asp-route-id="@transcaction.Id">
                                    <i class='bx bx-pencil'></i>
                                </a>
                                <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transcaction.Id">
                                    <i class='bx bx-trash'></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
</table>

<!-- Includes -->
<link rel="stylesheet" href="/css/transactions.css" asp-append-version="true" />
<script src="/js//transaction.js" asp-append-version="true"></script>